.appointmentsPage
    background-image: url('../assets/images/appointmnt.jpg');
    background-repeat: no-repeat
    height: auto   
    background-size: cover;
    opacity: 0.6

.appointmentForm
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;

.patientbtn    
    margin-top: 160%

.errorMsg
    color: red
    font-weight: bold
