.dashboard
    background-image : url('../assets/images/dashboard.png');
    height: auto
    background-repeat: no-repeat;
    background-size: contain;
 

.dashboardContents
    margin: 0 auto
    text-align: center  
    .row     
        padding: 2%   

.deptcard
    height: 80%;
    overflow: auto;

.carouselHeader
    color: floralwhite;
    font-weight: bold;
    font-family: serif;
    font-size: 2em

.counts
    color: floralwhite;
    font-size: 1em;
    font-weight: bold;
.numbers
    font-size: 2em;
    color: aliceblue;
    font-weight: bold;

.cardBody
    padding: 0.25rem !important