.doctorsPage
    height: 100vh
    background-image: url('../assets/images/doctors2.jpg')
    background-repeat: no-repeat
    background-size: cover

.content
    margin: 2% 15%;
   
.doctorProfile
    color: #d83b2b;
    font-weight: bold;

.patientsTable
    height: auto
    background-image:  url('../assets/images/patientsvisit3.jpg')
    background-size: contain
    width: 100%;
    color: white !important;
    font-weight: bold;
    font-size: 20px;