

.landingPage
  background-image: url(../assets/images/landing5.png)
  background-repeat: no-repeat
  height: 100vh
  opacity: 0.6
  background-size: cover;

.landingtext1
  font-size: 2em
  font-family: cursive
  font-weight: bold
  color: #3160b5
  text-shadow: 3px -6px #b7b7ab

.container
  position: relative
  top: 20%

.landingtext2
  font-size: 29px;
  font-family: serif;
  font-weight: bold;
  color: darkmagenta;
  text-decoration-line: underline

.appointmentbtn
  margin-top: 20%

.lastrow
  height: 201px;
  position: absolute;
  bottom: 0;
  left: 183px;
  cursor: pointer;
  

.headerclass
  color: #cd15d0;
  font-size: 2em;
  font-weight: bold;
  font-family: fantasy;
  text-align: center;

.metaclass
  color: blue;
  text-align: center;

.descclass
  text-align: center;
  color: darkblue;
  font-family: auto;
  text-decoration: underline;