$navColor: white;

.navname 
  color: $navColor
  border: 1px solid white;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
  &:hover
    background-color: white;
    color: black;
    font-weight: bold;
  
