.patients-card
    max-height: 85vh;
    overflow: auto;

.patientsPage
    background-image: url(../assets/images/patients.jpg);
    height: 100vh
    background-repeat: no-repeat;
    background-size: cover

.patientsRow
    padding: 0 10%

.summaryHeader
    background-color: #343a40 !important;
    text-align: center;
    color: white

.patientsCount    
    border: 2px solid #343a40
    font-size: 3rem;
    color: #ff0000;
    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-top: 10% !important

.description
    text-align: center;
    vertical-align: middle;
    margin-top: 10% !important;
    font-size: 20px

.DbCards
    box-shadow: 10px 10px 5px #a9b4c7;


